/*CSS reset*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: rgba(245, 248, 250, 1);
    font-family: 'Lato', sans-serif;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

/*Main CSS*/
.banner{
    display:flex;
    width: 100%;
    padding-bottom: 30px;
    justify-content: space-between;
    border-bottom: 2px solid rgba(224, 230, 234, 1);
    ;
    align-items: center;
}
nav li{
    display: inline;
    padding:10px;
	  cursor: pointer;
}
nav li:hover{
    border: 2px solid black;
    border-radius: 5px;
}
.container{
    max-width:892px ;
    width:100% ;
    height: 795px;
    display: flex;
    margin-left: auto;
    margin-top: 85px;
    margin-right: auto;
}
.left_container{
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px 0px 0px 6px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
}
h2{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 49px;
}
.right_container{
    max-width: 312px;
    width: 100%;
    background-color: rgba(17, 121, 191, 1);
    border-radius: 0 6px 6px 0;
    padding: 44px 42px 37px;
    color: rgba(255, 255, 255, 1);
}
footer{
    margin-top: 33px;
    text-align: center;
}
.checkout{
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(237, 239, 242, 1);
    padding-bottom: 24px;
    width: 100%;
    padding-left: 0px;
    padding-top: 41px;
}
.top{
  border-bottom: 1px solid rgba(237, 239, 242, 1) ;
  width:100%;
  padding-left: 49px;
}
#price{
    font-size: 30px;
}
.mini_list{
    margin-top: 36px;
    margin-bottom: 16px;
    display: flex;
    gap: 11px;
}
.mini_list_duplicate{
  margin-bottom: 16px;
  display: flex;
  gap: 11px;
}
.mini_list_duplicate_2{
  margin-bottom: 38px;
  display: flex;
  gap: 11px;
}
.right_container_call{
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    padding-bottom: 42px;
    margin-bottom: 43px;
}
.final_flex{
    display: flex;
    gap: 14px;
    margin-top: 17px;
}
.name{
    margin-top: 10px;
}
.flex_1{
  display: flex;
  margin-top: 9px;
  margin-bottom: 15px;
}
.flex_2{
  display: flex;
  margin-bottom: 41px;
}
.top{
  margin-top: 36px;
}
input{
  background-color: rgba(237, 239, 242, 1);
  border-radius: 4px;
  border: rgba(237, 239, 242, 1);
  height: 36px;
  padding-left: 13px;
}
.mid{
  margin-top: 35px;
  border-bottom: 1px solid rgba(237, 239, 242, 1) ;
  width:100%;
  padding-left: 49px;
}
.inside_mid{
  margin-top: 27px;
  margin-bottom: 41px;
}
#buy{
  margin-top: 39px;
  width: 82%;
  border-radius: 5px;
  height: 52px;
  background-color: rgba(3, 142, 125, 1);
  color: rgba(255, 255, 255, 1);
  border: rgba(3, 142, 125, 1) ;
  margin-bottom: 24px;
  margin-left: 49px;
  margin-right: 48px;
}
#CardNumber{
  width: 90%;
}

#powered_by_stripe{
  margin-left: 240px;
}
.footer{
  display: flex;
  justify-content: center;
}
.terms{
  color: rgba(49, 112, 143, 1);
}
.PaymentInfo{
  display: flex;
  gap: 10px;
}
.BasicInfo{
  display: flex;
  gap: 10px;
}
#Mail{
  width: 160%;
}
sup{
  font-size: 24px;
  vertical-align: super;
}
sub{
  font-size: 18px;
}
i{
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
}
hr{
  color: rgba(237, 239, 242, 1);
  width: 120%;
  margin-left: -49px;
  height: 0.001px;
}
.Need_help{
  display: flex;
  margin-bottom: 34px;
  gap: 10px;
  justify-content: center;
}
.final_p{
  font-style: italic;
  font-size: 18px;
}